extends layout.jade
block title
	| Contribute
block breadcrumb
	li
		a(href="/") Offline Tube
	li.active
		| Contribute
block content
	p Contribute to Offline Tube by collecting journey and interchange times, train lengths, and locations of exits and interchanges.
	div.contributor-status(ng-show="contributor")
		p You have contributor mode enabled.
		p
			a.disable(ng-click="setContributor(false)") Disable
	div.contributor-status(ng-hide="contributor")
		p You do not have contributor mode enabled.
		p
			a.enable(ng-click="setContributor(true)") Enable
	p(ng-show="records.length") Your records:
	ol
		li(ng-repeat="record in records")
			a(href="/network/{{record.journey.network}}/plan/record?journey={{record.journey}}") {{record.journey.time | date:'yyyy-MM-dd HH:mm:ss'}} {{record.journey.from.name}} to {{record.journey.to.name}}