h1
	block title
ul.breadcrumb
	block breadcrumb
div(id="appcache-updateready" style="display:none;")
	| The Application Cache was updated successfully.
div(id="appcache-error" style="display:none;")
	| There was an error updating the Application Cache.
block content