extends layout.jade
block title
	| Record journey
block breadcrumb
	li
		a(href="/") Offline Tube
	li
		a(href="network/{{network.key}}") {{network.name}}
	li.active
		| Record a journey
block content
	p Journey data for {{from.name}} to {{to.name}} with key "{{record.journey.key}}".
	ol.journey
		li(ng-repeat="segment in record.segments")
			h2(ng-show="segment.name") {{segment.name}}
			ul.segments(ng-hide="segment.name")
				li(ng-repeat="route in segment.routes")
					h3(data-toggle="collapse" data-target="#route-{{$parent.$index}}-{{$index}}") {{route.line}} towards {{route.name}}
					div.collapse(id="route-{{$parent.$index}}-{{$index}}")
						input.notes(type="text" placeholder="Route notes" ng-model="route.notes")
						ol.stations
							li(ng-repeat="station in route.stations")
								h4.station-name {{station.name}}
								div.contribution
									input.time(type="text" placeholder="Time: hhmm" ng-model="station.time")
								div.contribution
									input.exits(type="text" placeholder="Exits: 123456" ng-model="station.exits")
								div.contribution
									input.notes(type="text" placeholder="Notes" ng-model="station.notes")