extends layout.jade
block title
	| {{station.name}}
block breadcrumb
	li
		a(href="/") Offline Tube
	li
		a(href="network/{{network.key}}") {{network.name}}
	li(ng-if="line")
		a(href="network/{{network.key}}/line/{{line.key}}") {{line.name}}
	li.active
		| {{station.name}}
block content
	p
		a.plan(href="network/{{network.key}}/plan?from={{station.key}}") Plan a route to or from {{station.name}}
	p Lines:
	ul.lines
		li(ng-repeat="line in lines | orderBy:'name'")
			a(href="network/{{network.key}}/line/{{line.key}}")
				span.line-icon(ng-style="{'background-color': '{{line.color}}', 'color': '{{line.textColor}}'}") &#x1F687;
				|  {{line.name}}
	p Routes:
	ul.routes
		li(ng-repeat="route in routes | orderBy:'name'")
			a(href="network/{{network.key}}/line/{{route.line.key}}/route/{{route.key}}")
				span.line-icon(ng-style="{'background-color': '{{route.line.color}}', 'color': '{{route.line.textColor}}'}") &#x1F687;
				|  {{route.name}}
	p(ng-hide="contributor")
		| Would you like to 
		a(href="/contribute") contribute to Offline Tube
		| ? Collect journey and interchange times, train lengths, and locations of exits and interchanges.