version: 1.0.{build}
environment:
  nodejs_version: "12"
install:
  - ps: Install-Product node $env:nodejs_version
  - yarn install --frozen-lockfile
  - yarn bower install
build_script:
  - yarn grunt build
